.event-details {
  > .title {
    text-align: center;
  }

  > .body {
    > .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 3px 10px;
      border-bottom: 1px solid var(--fc-border-color);
      > .left {
        margin-right: 5px;
      }

      > .right {
        margin-left: 5px;
      }

      &:last-child {
        border-bottom: none;
      }

      &:nth-child(even) {
        background-color: var(--input-bg);
      }
    }
  }

  > .footer {
    text-align: center;
    margin-top: 5px;
    > .button {
      margin: 0 3px
    }
  }
}