.navbar {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
  font-family: var(--font-family);
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--navbar-bg-color);

  .nav-btn {
    padding-top: 0;
    padding-bottom: 0;

    .p-button {
      padding: 0;
    }
  }

  .p-button-icon {
    padding: 0 10px;
  }

  .left {
    text-align: left;
    width: 30%;
    
    .navbar-link {
      position: relative;
      display: inline-block;
      padding: 0;
    }

    a {
      color: var(--text-color-faded);
      text-decoration: none;
      display: inline-block;
      background-color: transparent;
      border: inherit;
    }
  }

  .right {
    text-align: right;
    width: 61%;

    > a {
      display: inline-block;
      height: 40px;
    }

    .navbar-link {
      position: relative;
      display: inline-block;
      color: transparent;
      margin-top: 5px;

      a {
        color: var(--text-color-faded);
        text-decoration: none;
        display: inline-block;
        background-color: transparent;
        border: inherit;
      }

      > .active-link {
        background-color: var(--bg-color-active);
        border-radius: 5px 5px 0 0;
        padding: 8px 13px;
        position: absolute;

        >.left {
          position: absolute;
          width: 5px;
          height: 5px;
          bottom: 0;
          left: -5px;
          background-color: var(--bg-color-active);
          > .border {
            width: 100%;
            height: 100%;
            border-radius: 0 0 5px 0;
            background-color: var(--navbar-bg-color);
          }
        }

        >.right {
          position: absolute;
          width: 5px;
          height: 5px;
          bottom: 0;
          right: -5px;
          background-color: var(--bg-color-active);
          > .border {
            width: 100%;
            height: 100%;
            border-radius: 0 0 0 5px;
            background-color: var(--navbar-bg-color);
          }
        }
      }
  
      > .top-link {
        padding: 8px 13px;
        position: relative;
        z-index: 2;
      }

      .link-text {
        margin-left: 15px;
        &.active {
          .link-label, .link-icon {
            color: var(--accent);
          }
        }

        &.transparent {
          .link-label, .link-icon {
            color: transparent;
          }
        }
      }

      .link-label {
        color: var(--text-color-faded);
        transition: color 0.5s;
        display: inline;
        margin-left: 10px;
      }

      .link-icon {
        color: var(--text-color-faded);
        transition: color 0.5s;
        position: absolute;
        left: 9px;
        top: 5px;
      }
    }
  }
}