.login {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;

  > .content {
    position: absolute;
    text-align: center;
    padding: 10px;
    left: 15%;
    width: 70%;
    z-index: 100;
    border: 1px solid var(--navbar-bg-color);
    background-color: var(--bg-color);
    border-radius: 5px;

    > .logo {
      margin-bottom: 10px;
    }

    > .login-buttons {
      margin-top: 10px;

      > .button {
        margin: 0 3px;
      }
    }

    .field {
      display: grid;
      grid-template-columns: 1fr 4fr;
      gap: 5px;
      margin-bottom: 5px;
      justify-content: center;
      
      label {
        text-align: left;
        color: var(--text-color);
        line-height: 2rem;

        > .button-icon {
          font-size: 1rem;
          margin-right: 5px;
          vertical-align: -2px;
        }
      }

      input {
        background-color: var(--input-bg);
        border-radius: 13px;
        border: 1px solid;
        border-color: transparent;
        padding: 5px 10px;
        transition: border-color 0.5s, color 0.5s;
        color: var(--input-faded);
        &:focus-visible, &:focus, &:active {
          border-color: var(--accent);
          outline: none;
          color: var(--text-color);
        }
      }
    }
  }
}