@import "@fontsource/roboto";

.dark {
  --bg-color: rgb(7, 8, 19);
  --navbar-bg-color: rgba(0, 0, 0, 1);
  --bg-button: rgba(13, 69, 69, 0.3);
  --bg-button-hover: rgba(13, 69, 69, 1);
  --bg-color-active: rgba(30, 30, 30, 1);
  --text-color: #FFF;
  --accent: rgba(50, 200, 200, 1);
  --fc-border-color: rgba(50, 50, 50, 1);
  --fc-today-bg-color: rgba(54, 0, 0, 0.3);
}

.light {
  --bg-color: rgba(230, 230, 230, 1);
  --bg-color-2: rgba(255, 255, 255, 1);
  --bg-button: rgba(191, 255, 255, 0.3);
  --bg-button-hover: rgba(191, 255, 255, 1);
  --bg-color-active: rgba(200, 200, 200, 1);
  --text-colot: #000;
  --accent: rgba(0, 100, 100, 1);
  --fc-border-color: rgba(210, 210, 210, 1);
  --fc-today-bg-color: rgba(230, 0, 0, 0.3);
}

body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  margin: 0;
}